*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
}
a {
    text-decoration: none;
}
hr {
    border-top: #b0b0b0 dashed 2px;
    width: 25%;
}
section h2 {
    font-size: 32px;
}
header {
    padding: 15px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 1px #ccc;
}
header #logo {
    float: left;
}
header #logo > h1 {
    margin-top: 6px;
}
header nav {
    float: right;
}
header nav ul {
    list-style: none;
}
nav > ul > li {
    float: left;
    margin-left: 10px;
    white-space: nowrap;
}
nav > ul > li > a {
    text-decoration: none;
    color: #555;
    font-weight: bolder;
    font-size: 14px;
    outline: none;
}
nav li:hover > a, ul > .menu-active > a {
    color: #0073d6;
}
footer {
    background: #0073d6;
    padding: 0 0 30px 0;
    font-size: 14px;
    color: #fff;
}
footer .copyright {
    padding-top: 30px;
}
footer .credits {
    font-size: 13px;
    color: #ffffff85;
    margin-top: 8px;
}
#hero {
    padding-top: 200px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url(./eqfew.png) center bottom no-repeat;
    background-size: cover;
}
#hero h2 {
    color: #2e2e2e;
    font-size: 29px;
    font-weight: bolder;
    max-width: 20rem;
    margin-bottom: 0;
}
#about {
    padding-top: 120px;
    padding-bottom: 90px;
    color: white;
    background-color: #148ceb;
}
#about img {
    max-width: 78%;
}
#services {
    padding-top: 90px;
    padding-bottom: 60px;
}
#services .box {
    padding: 40px  15px;
    background-color: white;
    width: 100%;
    border: 1px solid #dedede;
    margin-bottom: 40px;
}
#cta {
    background-color: #0073d6;
    padding: 65px 0;
    color: white;
}
#cta h3 {
    font-size: 28px;
}
#cta .btn {
    padding: 8px 26px;
    border: 3px solid white;
}
#cta .btn:hover {
    background-color: #E91E63;
    border: 3px solid #E91E63;
}
#contact {
    padding-top: 90px;
    padding-bottom: 90px;
}
#contact .col-40 a {
    color: black;
}
#contact .col-40 h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444;
    margin: 8px 0;
}
#contact .col-40 address, #contact .col-40 p {
    color: #000;
    display: block;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
}
#contact form > input, #contact form > textarea {
    padding: 10px 14px;
    font-size: 15px;
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.text-center {
    text-align: center;
}
.btn {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border: 2px solid #0073d6;
    background-color: #0073d6;
    border-radius: 10px;
    color: white;
}

/** Responsve **/
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    header > div.container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav > ul {
        display: inline-flex;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .box {
        max-width: 33.3%;
        flex-basis: 33.3%;
    }
    .col-75 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .col-60 {
        flex-basis: 60%;
        max-width: 60%;
    }
    .col-40 {
        flex-basis: 40%;
        max-width: 40%;
    }
    .col-25 {
        flex-basis: 25%;
        max-width: 25%;
    }
    #cta .row, #contact .col-40 {
        text-align: left;
    }
}
